@model SurveyTool.Models.Survey

<div class="page-header">
    <a class="pull-right" href="@Url.Action("Index")">Back to Survey List &rarr;</a>
    <h2>@ViewData["title"]</h2>
</div>

<form id="survey-form" action="@ViewData["url"]" method="post">
    <h4 class="well well-small">Survey</h4>

    <div class="row">
        <div class="span6">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new {@class = "span6"})
        </div>
        <div class="span6">
            <label>Start / End Date</label> 
            @Html.EditorFor(x => x.StartDate)
            @Html.EditorFor(x => x.EndDate)
        </div>
    </div>
    
    <h4 class="well well-small">
        <button class="btn btn-mini pull-right" data-bind="click: newQuestion">
            <i class="icon-plus"></i> Add Question
        </button>
        Questions
    </h4>
    
    <p data-bind="visible: !hasQuestions()">
        <span class="label label-info">Heads up!</span>
        You haven't added any questions.
    </p>
    
    <div id="questions" data-bind="visible: hasQuestions, foreach: { data: questions, afterAdd: afterAdd }">
        <div class="accordion-group">
            <div class="row accordion-heading">
                <div class="span6 accordion-toggle">
                    <a data-parent="#questions" data-toggle="collapse" data-bind="attr: { href: '#item'+$index() }">
                        <span data-bind="text: title"></span>
                    </a>
                </div>
                <div class="span1 accordion-toggle text-center">
                    <span class="muted" data-bind="text: type"></span>
                </div>
                <div class="span1 accordion-toggle text-center">
                    <small class="text-success" data-bind="visible: isActive">Active</small>
                    <small class="text-error" data-bind="visible: !isActive()">Inactive</small>
                </div>
                <div class="span2 accordion-toggle text-right">
                    <div class="btn-group">
                        <a class="btn btn-small" href="#" data-bind="click: $root.moveUp"><i class="icon-arrow-up"></i></a>
                        <a class="btn btn-small" href="#" data-bind="click: $root.moveDown"><i class="icon-arrow-down"></i></a>
                    </div>
                    <div class="btn-group text-left">
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-wrench"></i><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#" data-bind="click: $root.editQuestion">
                                    <i class="icon-pencil"></i> Edit
                                </a>
                            </li>
                            <li data-bind="visible: !isActive()">
                                <a href="#" data-bind="click: enable">
                                    <i class="icon-ok-circle"></i> Enable
                                </a>
                            </li>
                            <li data-bind="visible: isActive">
                                <a href="#" data-bind="click: disable">
                                    <i class="icon-ban-circle"></i> Disable
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="collapse" data-bind="attr: { id: 'item'+$index() }">
                <div class="accordion-inner" data-bind="html: body"></div>
            </div>
        </div>
        
        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Id', value: id }" />
        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Title', value: title }" />
        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Type', value: type }" />
        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Body', value: body }" />
        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].Priority', value: $index() }" />
        <input type="hidden" data-bind="attr: { name: 'Questions['+$index()+'].IsActive' }, value: isActive" />
    </div>
    
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Save Survey" />
        <a class="btn" href="@Url.Action("Index")">Cancel</a>
    </div>
</form>

<div id="add-question" class="modal hide fade" data-bind="with: current">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Add Question</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="span3">
                <label for="Title">Title</label>
                <input type="text" id="Title"  name="Title" data-bind="value: title" />
            </div>
            <div class="span3">
                <label for="Type">Type</label>
                <select id="Type" name="Type" data-bind="value: type">
                    <option>Yes/No</option>
                    <option>Number</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <textarea id="Body" name="Body" data-bind="cleditor: body"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-bind="click: $root.saveQuestion">Save</button>
    </div>
</div>